#ballsWaveG {
    position: relative;
    width: 144px;
    height: 34px;
    margin: auto;
}

.ballsWaveG {
    position: absolute;
    top: 0;
    background-color: rgb(21, 108, 214);
    width: 18px;
    height: 18px;
    animation-name: ballsWaveG;
    -o-animation-name: ballsWaveG;
    -ms-animation-name: ballsWaveG;
    -webkit-animation-name: ballsWaveG;
    -moz-animation-name: ballsWaveG;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

#ballsWaveG_1 {
    left: 0;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

#ballsWaveG_2 {
    left: 18px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#ballsWaveG_3 {
    left: 36px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#ballsWaveG_4 {
    left: 54px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#ballsWaveG_5 {
    left: 72px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

#ballsWaveG_6 {
    left: 90px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

#ballsWaveG_7 {
    left: 108px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

#ballsWaveG_8 {
    left: 126px;
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
}

@keyframes ballsWaveG {
    0% {
        background-color: rgb(21, 108, 214);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes ballsWaveG {
    0% {
        background-color: rgb(21, 108, 214);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes ballsWaveG {
    0% {
        background-color: rgb(21, 108, 214);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes ballsWaveG {
    0% {
        background-color: rgb(21, 108, 214);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes ballsWaveG {
    0% {
        background-color: rgb(21, 108, 214);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}